<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/wizard/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/css/wizard/enroll-wizard.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="container">
    {{ enrollment_form.errors }}
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" {% if response.step < 2 %}class="active"{% endif %}>
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if response.step < 3 %}class="active"{% endif %}>
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" {% if response.step < 4 %}class="active"{% else %}class="disabled"{% endif %}>
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" {% if response.step < 5 %}class="active"{% else %}class="disabled"{% endif %}>
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" id="erf" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="tab-content">
                    <div class="tab-pane {% if response.step == 3 or response.step == 1 %}active{% endif %}" role="tabpanel" id="step1">
                        {% if response.step == 1 %}
                            <h3>Step 1</h3>
                            <p style="color: #1b6d85;font-size: 30px">报名信息录入</p>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-lg-3 control-label">客户</label>
                            <div class="col-lg-7">
                                <select type="text" name="customer" value="{{ customer_obj.id }}" class="form-control" >
                                    <option value="{{ customer_obj.id }}">{{ customer_obj }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{{ enrollment_form.school.label }}</label>
                            <div class="col-lg-7">
                                {{ enrollment_form.school }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{{ enrollment_form.course_grade.label }}</label>
                            <div class="col-lg-7">
                                {{ enrollment_form.course_grade }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">课程顾问</label>
                            <div class="col-lg-7">
                                {{ customer_obj.consultant }}
                            </div>
                        </div>
                        <ul class="list-inline pull-right">
                            <li><button type="submit" class="btn btn-primary next-step">Save and continue</button></li>
                            <!--li><button type="button" class="btn btn-primary next-step">Save and continue</button></li-->
                        </ul>
                    </div>
                    <div class="tab-pane {% if response.step == 2 %}active{% endif %}" role="tabpanel" id="step2">
                        <h3>Step 2</h3>
                        <p style="color: #1b6d85;font-size: 30px">生成报名链接发给客户</p>
                        <ul class="list-inline pull-right">
                            {% if response.step < 3 and response.step >= 2 %}
                                <pre>请将此报名链接发给学员进行填写 http://localhost:8001{% url 'stu_enrollment' response.enroll_obj.id %}</pre>
                            {% endif %}
                            <li><button type="button" class="btn btn-default prev-step">上一步</button></li>
                            <li><button type="submit" class="btn btn-primary next-step">下一步</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if response.step == 3 %}active{% endif %}" role="tabpanel" id="step3">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{{ enrollment_form.contract_agreed.label }}</label>
                            <div class="col-lg-7">
                                <div class="checkbox">
                                    <label class="form-checkbox form-icon form-text">
                                        <input type="checkbox" value="java" name="acceptTerms" disabled checked> 客户已同意协议内容
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">{{ enrollment_form.contract_approved.label }}</label>
                            <div class="col-lg-7">
                                <div class="checkbox">
                                    <label class="form-checkbox form-icon form-text">
                                        {% if response.step > 3 %}
                                        <input type="checkbox"  name="contract_approved" checked disabled> 验证学员资料无误后选中此框
                                        {% else %}
                                        <input type="checkbox"  name="contract_approved" > 验证学员资料无误后选中此框
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-inline pull-right">
                            <!--li><button type="button" class="btn btn-default prev-step">上一步</button></li-->
                            <li><button type="button" class="btn btn-default next-step">驳回</button></li>
                            <li><button type="submit" class="btn btn-primary btn-info-full next-step">通过</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if response.step == 4 %}active{% endif %}" role="tabpanel" id="complete">
                        <h3>Step3</h3>
                        <p style="color: red;font-size: 30px">创建缴费记录.</p>
                        {% for field in payment_form %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{{ field.label }}</label>
                                <div class="col-lg-7">
                                    {% if field.name == 'enrollment' %}
                                        <select name="enrollment" class="form-control">
                                            <option value="{{ enroll_obj.id }}">{{ enroll_obj }}</option>
                                        </select>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">上一步</button></li>
                            <li><button type="submit" class="btn btn-default next-step">提交</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane {% if response.step == 5 %}active{% endif %}" role="tabpanel" id="complete">
                        <h3>completed</h3>
                        <p style="color: red;font-size: 30px">报名成功!.</p>
                        <button type="button" class="btn btn-default next-step">
                            <a href="/market/customers/">返回</a>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>

    </div>
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/wizard/bootstrap.min.js"></script>
<!--script src="/static/js/wizard/enroll-wizard.js"></script-->
<script>
    $(function () {
            $('#erf select').removeAttr('required');  // 不加这句话Chorme浏览器报错
            {#$.ajaxSetup({#}
            {#    beforeSend: function(xhr,settings){#}
            {#        xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));#}
            {#    }#}
            {#});#}
        });
    {#$('#nextbtn1').click(function () {#}
    {#    $.ajax({#}
    {#        url: "/market/enrollment/%s/" % {{ customer_obj.id }},#}
    {#        data: $('#erf').serialize(),#}
    {#        type: "POST",#}
    {#        dataType: "JSON",#}
    {#        headers: {'X-CSRFtoken': $.cookie('csrftoken')},#}
    {#        success: function (obj) {#}
    {##}
    {#        },#}
    {#        error: function () {#}
    {##}
    {#        }#}
    {#    });#}
    {#});#}
    $(document).ready(function () {
    //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);
            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {
            var step = $(this).parent().parent().parent().attr('id');
            console.log("step:", step); //点击的step1实际上已经到step2界面了
            var $active = $('.wizard .nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);
        });
        $(".prev-step").click(function (e) {
            var $active = $('.wizard .nav-tabs li.active');
            prevTab($active);
        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }
</script>
</html>
